
* {
    box-sizing: border-box; 
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #F6F8F9;
  }


/* SHOWCASE + ICONS */
  
.showcase {
    margin-top: 5%;
    display: flex;
    flex-grow: 1;
    text-align: center;

  }


img.icons{
  width: 30%;
  height: auto;
  text-align: center;
}


.news {
    display: flex;
    flex-grow: 1;
    text-align: center;
  }


.showcase-title {
    display: flex;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 5%;
  }


.choose {
    flex: 1;
  }

.deliver {
    flex: 1;
    
  }

.donate {
    flex: 1;
  }



/* LATEST NEWS */

.news {
  /* align-items: flex-start;
  display: flex;
  position: relative;
  height: 100%;
  padding: 5% 5% 5% 5%; */
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 820px;
}


.news-box {
  /* flex:1;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  min-width: 200px;
  margin:auto */


  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.one, .two, .three {
  flex: 1;
}

.news-image{
  background-image: url("img/news1.jpg");

  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

p.date{
  font-size: 0.8em;

}

/* ABOUT */

.how-it-works {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;

  /* flex-wrap: wrap; */
}

.first .second {
  flex-direction: column;
  width: 30%;
  align-items: flex-end;

}

.choose .deliver {
  flex:2;
  width: 40%;
  align-items: center;
}

.about-slideshow{
  max-width: 1000px;
  margin: auto;
}


.slides {
  display: none
}

img.slide{
  width:100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
}


/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* MENU */


header{
    background: #02967C;
    height: 10vh;
    padding: 1em;
    display:inline-block;
  }

nav{
    word-spacing: 5em;
}


.menu{
    float: right;
    font-family: effra, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
}

#logo{
    float: left;
    font-family: fairwater-script;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8em;
    line-height: 1.8em;
    color: #ffffff
}

#logo:hover{
    color: #FEA3A6;
    text-decoration: none;
}




/* links */

a:link {
    color: #8ED8B7;
    text-decoration: none;
}
  
  
a:visited {
    color: #FEA3A6;
    opacity: 1;
    text-decoration: none;
}
  
  
a:hover {
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}



/* HERO */

.hero-image {
    background-image: url("../img/hero.jpg");
    background-size: cover; 
    flex-grow:1;
    height: 80vh;
    margin-bottom: 5%;
}

.hero-title {
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #02967C;
}

.hero-about{
  background: url("../img/about.png") no-repeat center;
  flex-grow:1;
  height: 80vh;
  margin-bottom: 5%;
}



/* FONTS  */

p{
    font-family: effra, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

}

/* li{
    font-family: effra, sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
} */

h1{
    font-family: cooper-black-std;
    font-weight: 400;
    color:  #02967C;
    font-style: normal;
    text-align: center;
}

h2{
    font-family: effra, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
}

h3{
  font-family: effra, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

/* FOOTER */



footer{
  background: #02967C;
  bottom: 0;
  height: 100%;
  padding: 1em;
  display:inline-block;
}

#footer-logo{
  float: left;
  display: block;
  font-family: fairwater-script;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
  line-height: 5em;
  color: #ffffff
}

#footer-logo:hover{
  color: #FEA3A6;
  text-decoration: none;
}

.social-menu{
  float: right;
  display: block;
}



/* SHOWCASE */





  @media screen and (max-width: 650px) {
    .showcase {
      display: flex;
      flex-direction: column;
    }
  }