
* {
    box-sizing: border-box; 
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #F6F8F9;
  }


/* SHOWCASE + ICONS */
  
.showcase {
    margin-top: 5%;
    display: flex;
    flex-grow: 1;
    text-align: center;

  }


img.icons{
  width: 30%;
  text-align: center;
}

.choose, .deliver, .donate{
  flex: 1;
}




.showcase-title {
    display: flex;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 5%;
  }





/* LATEST NEWS */
.gray-bg{
  margin-top: 200px;
  /* background-color: #D2DBDD; */

}

.boxy {
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:auto;
  margin-top:5%;
  margin-bottom:5%;

}


img.box-img {
  background-size: cover;
  object-fit: cover;
  height:50%;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}


.container-box {
  flex: 1;
  background-color: #fff;
  min-width: 200px;
  max-width: 300px;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
}



.box-content {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}


.box-title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.3em;
  color:#09967D;

}

.box-subheader {
  font-size: 1em;
  font-family: 'Effra', sans-serif;
  font-weight: 500;
}

.box-date {
  font-weight: 600;
  text-decoration: none;
  color: #02967C;
}

/* ABOUT */

.how-it-works {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;

  /* flex-wrap: wrap; */
}

/* .first .second {
  flex-direction: column;
  width: 30%;
  align-items: flex-end;

} */

/* .choose .deliver {
  flex:2;
  width: 40%;
  align-items: center;
} */


.faq{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:auto;
  margin-top:5%;
}

.faq-box{
  flex:1;
  width: 80%;
  justify-content: space-evenly;
  margin: 5%;
}

.cta{
  background-color: peachpuff;
  width:100%;
  height: 50vh;
  background-image: url("../img/cta2.png");
  padding: 5% 20% 10% 20%;
  background-position: center;
  background-size: cover; 
  width:100%;
}

/* .hero-image {
  background-image: url("../img/cta2.png");
  background-size: cover; 
  flex-grow:1;
  height: 80vh;
  margin-bottom: 5%;
} */




/* SLIDESHOW */



img {
  vertical-align: middle;
  width: 100%;
}

.slideshow, .slideshow-box{
  width:80%;
  position: relative;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.slides {
  display: none
}

.fa-chevron-circle-left, .fa-chevron-circle-right, .fas{
  cursor: pointer;
  position: absolute;
  z-index:4;
  top: 50%;
  width: auto;
  padding: 20px;
  font-size: 50px;
  color: #09967D;
  cursor: pointer;
  transition: 0.6s ease;
  user-select: none;
}

.fa-chevron-circle-right {
  right: 0;
  }

.fa-chevron-circle-left {
  left: 0;
  }


.fas:hover {
  color: #FEA3A6;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}


/* FORMS */

.form-box{
  width: 30%;
  background-color: white;
  height:auto;
  margin-top: 5%;
  margin-bottom: 10%;
  align-self:center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 13px 10px -7px gainsboro;
}

input[type="text"], input[type="email"], input[type="password"] {
  border: 1px solid #dddddd;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  margin: 0;
  font-size: 1em;
}

textarea {
  width: 100%;
  min-height: 120px;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
}

input{
  outline:none;

}

input:focus {
  border: 1.5px solid #09967D;
}

input.error {
  border: 1.5px solid crimson;
}

fieldset {
  border: 0;
}

hr{
  border-top: 2px solid gainsboro;
}

.form-container .form-input {
  margin: 10px 0px;
  display: inline-block;
  width: 100%;
}

.form-container label {
  display: block;
  padding-bottom: 5px;
}
.form-input.half {
  width: calc(50% - 2px);
}

.button-center{
  widows: 100%;
  text-align: center;
}

.button {
  width: 40%;
  height: 50px;
  border: 3px solid #09967D;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  font-size: 1.2em;
  color: #09967D;
  text-transform: uppercase;
  margin-top: 8%;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
}

select{
  display: block;
  box-sizing: border-box;
  border-radius: 1em;
  font-family: effra, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #333;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  height: 40px; 
  appearance: none;
  outline: none;
  margin-top: 5%;
  margin-bottom: 5%;
}


select::expand {
  display: none;
}
select:hover {
 border: 1px solid #dddddd;
 outline: none;

}

select:focus {
  box-shadow: 0 0 1px 2px #09967D .2;
  color: #333; 
  outline: none;
  border: 2px solid #09967D;
}
select option {
  font-weight:normal;
}

label {
  margin-top: 5%;
}

.button:hover {
  border: 3px solid #09967D;
  background-color: #09967D;
  color: white;

}

.continue, .logout{
  text-align:center;
}


/* ORDER */

.hidden{
  display: none;
}

.show{
  display: block;
}






/* MENU */


header{
    background: #02967C;
    height: 10vh;
    padding: 1em;
    display:inline-block;
  }

nav{
    word-spacing: 5em;

}


.menu{
    float: right;
    font-family: effra, sans-serif;
    font-weight: 500;
    font-style: normal;
}

#logo{
    float: left;
    font-family: fairwater-script;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6em;
    line-height: 1.5em;
    color: #ffffff
}

#logo:hover{
    color: #FEA3A6;
    text-decoration: none;
}



/* PROFILE */

.head{
  margin-top:5%;
  text-align: center;
  line-height: 2em;
}

.profile-img{
  max-width: 120px;
  clip-path: circle(50% at 50% 50%);
  margin:auto;        
  display: block;
  margin-bottom:10%;
}

.subscription-info{
  display:flex;
  flex-direction: row;
  width:100%;
}

.points, .info{
  flex:1;
  width:50%;
  margin:auto;
}

.menuTitle{
  display: inline-block;
  width: 80%;
}

/* links */

a:link {
    color: #8ED8B7;
    text-decoration: none;
}
  
  
a:visited {
    color: #FEA3A6;
    opacity: 1;
    text-decoration: none;
}
  
  
a:hover {
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}



/* HERO */

.hero-image {
    background-image: url("../img/hero.jpg");
    background-size: cover; 
    flex-grow:1;
    height: 80vh;
    margin-bottom: 5%;
}

.hero-title {
  text-align: center;
  /* top: 55%;
  left: 50%; */
  color: #02967C;
  margin-top: 20%;
  flex-wrap: wrap;

}

.italic-title {
  text-align: center;
  font-family: fairwater-script;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
  color: #02967C;
  margin-top:5%;
  bottom: 50px;
  flex-wrap: wrap;


}

.hero-about{
  background: url("../img/about.png") no-repeat center;
  flex-grow:1;
  height: 80vh;
  margin-bottom: 5%;
}



/* FONTS  */

p{
    font-family: effra, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

/* li{
    font-family: effra, sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
} */

h1{
    font-family: cooper-black-std;
    font-weight: 400;
    color:  #02967C;
    font-style: normal;
    text-align: center;
}

h2{
    font-family: effra, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
}

h2.green{
  font-family: effra, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
  color:  #02967C;
}

h3, label, button, .strong{
  font-family: effra, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
}




/* FOOTER */

footer{
  background: #02967C;
  bottom: 0;
  height: 30vh;
  padding: 1em;
  display:inline-block;
}

#footer-logo{
  float: left;
  display: block;
  font-family: fairwater-script;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
  line-height: 5em;
  color: #ffffff
}

#footer-logo:hover{
  color: #FEA3A6;
  text-decoration: none;
}

.social-menu{
  float: right;
}

.socmed{
  max-width:1px;
}

h2.white{
  color: white;
}

/* NEWSLETTER */

.sticky{
  min-height:10vh;
  background-color: #02967C;
  border-top: 1px solid white;
  position: fixed;
  width: 100%;
  max-width: 100%;
  bottom:0;
  left:0;
  text-align:center;

}




.newsletter{
  text-align: center;
  width:100%;
  margin: 0;
  padding: 0;
  text-align: center;

}

.subscribe-field, .subscribe-label{
  height:50px;
  width:30%;
  display:inline-block;
  margin-right: 10px;
  margin:auto;
}

.subscribe-button{
  width: 10%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #FEA3A6;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  justify-content: center;
  display:inline-block;

}

.fa-times {
  float:right;
  top:0;
  width: auto;
  padding: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  user-select: none;
}


/* 
.subscribe-button:hover{
  background-color: #FEA3A6;
} */

/* MEALS */

.veggie-one{
  background-image: url("../img/meals/quick/pork-taco.jpg");

}





  @media screen and (max-width: 650px) {
    .showcase {
      display: flex;
      flex-direction: column;
    }
  }