body {
    width: 100%;
    height: 100%;
    margin: 5% auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
  }
  
header, content, footer {
    padding: 15px;
  }

header {
    background-color: midnightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}
  
.header h1 {
    font-size: 24px;
}

.content {
    overflow-y: auto;
  }

.categories {
    padding-left: 20px;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 40px;
  }
  
.categories li {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  
.categories svg {
    margin-right: 20px;
    fill: #7c7d81;
  }